.wrapper {
    width: var(--default-sidebar-width, 356px);
    padding: 20px 0 26px 8px;
    margin-left: -18px;
}

.footer {
    padding-top: 8px;
    color: #16182380;
    border-top: 1px solid #e3e3e4;
    margin: 8px;
}

.title {
    margin: 5px 0 0;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700;
}

.add {
    cursor: pointer;
    color: #16182380;
    background-color: transparent;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 5px 0 8px 0;
}

.principle {
    font-style: 1.6em;
}

.cpr {
    font-size: 1.2rem;
    font-weight: 600;
}
